{% load static django_grid_view %}
<div
  class="cm-chart-wrap"
  data-cm-chart-config="{{ chart_config_json|force_escape }}"
  data-cm-chart-rows="{{ chart_rows_json|force_escape }}"
  data-cm-chart-id="{{ chart_id }}"
  {% if interactive %}data-cm-chart-interactive="1"{% endif %}
  style="height: {{ height }}px;"
>
  {% include "django_grid_view/partials/chart_body.html" %}
</div>
{% if load_styles or load_scripts %}
{% include "django_grid_view/assets.html" %}
{% endif %}
{% if not interactive %}
<script src="{% static 'django_grid_view/chart-static-boot.js' %}"></script>
{% endif %}
