{% if table %}
<table class="data-table">
  <thead>
    {% for hrow in table.header_rows %}
    <tr>
      {% for cell in hrow %}
      <th colspan="{{ cell.colspan }}" rowspan="{{ cell.rowspan }}" style="text-align: {{ cell.align }};">
        {{ cell.label }}
      </th>
      {% endfor %}
    </tr>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in table.rows %}
    <tr{% if row.row_class %} class="{{ row.row_class }}"{% endif %}>
      {% for cell in row.cells %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  {% if table.footer_cells %}
  <tfoot>
    <tr>
      {% for cell in table.footer_cells %}
      <td colspan="{{ cell.colspan }}" style="text-align: {{ cell.align }};">{{ cell.text }}</td>
      {% endfor %}
    </tr>
  </tfoot>
  {% endif %}
</table>
{% elif has_table_fallback and fallback_rows %}
<table class="data-table">
  <thead>
    <tr>
      {% for key in fallback_rows[0].keys() %}
      <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in fallback_rows %}
    <tr>
      {% for key, val in row.items() %}
      <td>{{ val }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% elif table and table.empty_message %}
<p class="empty">{{ table.empty_message }}</p>
{% endif %}
