{% for block in blocks %}
  {% if block == "title" %}{% include "blocks/title.html" %}{% endif %}
  {% if block == "kpis" %}{% include "blocks/kpis.html" %}{% endif %}
  {% if block == "chart" %}{% include "blocks/charts.html" %}{% endif %}
  {% if block == "table" %}{% include "blocks/table.html" %}{% endif %}
  {% if block == "cards" %}{% include "blocks/cards.html" %}{% endif %}
  {% if block == "tabs" %}{% include "blocks/tabs.html" %}{% endif %}
  {% if block == "card_groups" %}{% include "blocks/card_groups.html" %}{% endif %}
{% endfor %}
